body {
  margin: 20px auto;
}

.page {
  font-size: 16px;
  margin: 30px auto;
  max-width: 500px;
}

form {
  font-size: 16px;
  margin: 30px auto;
  max-width: 500px;
}

ul {
  margin: 30px auto;
}

li {
  font-size: 20px;
}

a {
  text-decoration: none;
}


.post {
  margin-top: 60px;
}


.post-content {
  font-size: 18px;
  margin-top: 16px;
}

.post-by {
  font-size: 14px;
  margin: 32px 0;
  font-style: italic;
}

.post-tags {
  font-size: 18px;
  font-weight: bold;
}


.right-float {
  float: right;
}

.user-profile {
  margin: 30px auto;
  padding: 12px 0;
  max-width: 720px;
}

.profile-info {
  padding-top: 10px;
}

.user-image {
  height: 150px;
  width: 150px;
  object-fit:cover;
  border-radius: 50%;
  margin: auto !important;
}

.tags-div {
  padding: 20px;
  border: 1px solid rgb(206, 212, 218);
  border-radius: 4px;
}

.tag-label {
  color: #856eeb;
}

.badge {
  background-color: #856eeb;
}
