{% extends "base.html" %}
{% block page %}

  <div class="page">
    <h1 class="title"> Edit tag <h1>

    <form action="/tags/{{tag.id}}/edit" method="POST">
      <div class="mb-3">
        <label class="form-label"> Name </label>
        <input class="form-control" name="name" value="{{tag.name}}">
      </div>
      <div class="right-float">
        <a class="btn btn-outline-info" href="/tags"> Cancel </a>
        <button class="btn btn-success"> Save </button>
      </div>
    </form>
  </div>

{% endblock %}
